@import "bootstrap/bootstrap";
@import "theme-style/theme";


//Internet Explorer Fixes

@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
  body.page--home{
    .pb-md-5, .pb-3{
      position: absolute;
      bottom: 0%;
      left: 0px;
      right: 0px;
      margin-left: auto;
      margin-right: auto;

    }
    .container{
      position: absolute;
      left: 0px;
      right: 0px;
      bottom: 41%;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
