<div class="container">
  <ul class="list-inline text-center">
    <li class="list-inline-item"><img src="/img/usda-logo.png" alt="Logo USDA"></li>
    <li class="list-inline-item px-5"><img src="/img/insomniac-logo.svg" alt="Logo Insomniac"></li>
    <li class="list-inline-item"><img src="/img/greycells-logo.png" alt="Logo Greycells"></li>
  </ul>
</div>