<div class="container">
  <ul class="list-inline text-center">
    <li class="list-inline-item"><img src="/img/logo--usda.svg" alt="Logo USDA"></li>
    <li class="list-inline-item px-5"><img src="/img/logo--insomniac.svg" alt="Logo Insomniac"></li>
    <li class="list-inline-item"><img src="/img/logo--greycells.png" alt="Logo Greycells"></li>
  </ul>
</div>

<!-- Custom script -->
<script src="/api/map_points_data.js" charset="utf-8"></script>
<script src="../js/chart-circle.js" charset="utf-8"></script>
<script src="../js/bar-zoom.js" charset="utf-8"></script>
<script src="../js/script.js" charset="utf-8"></script>
