<div class="container">
  <div class="row flex-nowrap justify-content-md-center">
    <div class="col-auto text-center">
      <a href="http://usda.org/" target="_blank" aria-label="Official site usda.org" class="px-1 px-md-0 d-block" title="Official site usda.org"><img src="/img/logo--usda.svg" class="img-fluid logo-usda" alt="Logo USDA"></a>
    </div>

    <div class="col col-md-auto text-center">
      <a href="http://insomniacdesign.com/" target="_blank" aria-label="Official site insomniacdesign.com" class="px-1 px-md-0 d-block" title="Official site insomniacdesign.com"><img src="/img/logo--insomniac.svg" class="img-fluid" alt="Logo Insomniac"></a>
    </div>

    <div class="col col-md-auto text-center">
      <a href="http://greycellstech.com/" target="_blank" aria-label="Official site greycellstech" class="px-1 px-md-0 d-block" title="Official site greycellstech"><img src="/img/logo--greycells.png" class="img-fluid"  alt="Logo Greycells"></a>
    </div>
  </div>
</div>

<!-- Custom script -->
<script src="/api/map_points_data.js" charset="utf-8"></script>
<script src="/js/chart-circle.js" charset="utf-8"></script>
<script src="/js/gradient-chart.js" charset="utf-8"></script>
<script src="/js/map-counties.js" charset="utf-8"></script>
<script src="/js/bar-zoom-set.js" charset="utf-8"></script>
<script src="/js/script.js" charset="utf-8"></script>
