<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-md-auto mb-2 mb-md-0 text-center">
      <a href="#"><img src="/img/logo--usda.svg" alt="Logo USDA"></a>
    </div>
    <div class="col-md-auto mb-2 mb-md-0 text-center">
      <a href="#"><img src="/img/logo--insomniac.svg" alt="Logo Insomniac"></a>
    </div>
    <div class="col-md-auto text-center">
      <a href="#"><img src="/img/logo--greycells.png" alt="Logo Greycells"></a>
    </div>
  </div>
</div>

<!-- Custom script -->
<script src="/api/map_points_data.js" charset="utf-8"></script>

<script src="/js/chart-circle.js" charset="utf-8"></script>
<script src="/js/bar-zoom.js" charset="utf-8"></script>
<script src="/js/gradient-chart.js" charset="utf-8"></script>
<script src="/js/map-counties.js" charset="utf-8"></script>
<script src="/js/script.js" charset="utf-8"></script>
