<meta charset="UTF-8">
<title>Super Awesome</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/styles/main.css">
<link rel="stylesheet" href="/css/custom.css">


<script src="https://code.jquery.com/jquery-3.3.1.min.js" charset="utf-8"></script>


<!-- D3JS -->
<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="http://graphics.wsj.com/elections/2016/super-tuesday-results/js/topojson.min.js"></script>
<script src="//d3js.org/queue.v1.min.js"></script>

