<div class="slider-container range-blue">
  <input id="slider-water" type="range" min="0" max="100" value="0" >
	<div class="count">0 mm</div>
  <div class="fill"></div>
</div>
<div class="slider-container range-teal">
  <input id="slider-carbon" type="range" min="0" max="100" value="0" >
  <div class="count">0 g</div>
  <div class="fill"></div>
</div>
<div class="slider-container range-red">
  <input id="slider-soil" type="range" min="0" max="3" value="1" >
  <div class="count">Poor</div>
  <div class="fill"></div>
</div>