<div class="slider-container range-blue">
  <input id="slider-water" type="range" min="0" max="100" value="0"/>
  <div class="count">0</div>
  <div class="fill"></div>
</div>
<div class="slider-container range-teal">
  <input id="slider-carbon" type="range" min="0" max="100" value="0"/>
  <div class="count">0</div>
  <div class="fill"></div>
</div>
<div class="slider-container range-red">
  <input id="slider-soil" type="range" min="0" max="100" value="0"/>
  <div class="count">0</div>
  <div class="fill"></div>
</div>