<div class="col-12">
  <h5 class="mb-md-4 mb-3">Soil Chemistry</h5>
</div>

<div class="col-lg-9 col-md-6 mob-full">
  <div id="chart-circle-wrapper" class="scatter-chart-group">
    <div class="chart-wrapper">
      <div id="chart-circle" class="chart"></div>
    </div>
    <div class="chart-circle-chart-title text-center">
      <strong>CORN YIELD</strong>
    </div>
  </div>
</div>

<div class="col-lg-3 col-md-4 mt-3 mt-md-0">
  <div class="mb-15px text-center text-md-left">
    <button type="button" class="btn btn-width btn-icon btn-icon--water btn-outline-secondary soil-chemistry-btn active" data-type="water">

      <?xml version="1.0" encoding="UTF-8"?>
      <svg width="14px" height="20px" viewBox="0 0 14 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <title>Accessible water icon</title>
          <defs></defs>
          <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <g id="Desktop-WF" transform="translate(-1020.000000, -2727.000000)" fill="#FFFFFF">
                  <path d="M1027,2747 C1025.74157,2747 1024.57491,2746.68765 1023.5,2746.06296 C1022.42509,2745.43826 1021.57303,2744.59232 1020.94382,2743.52513 C1020.31461,2742.45795 1020,2741.29966 1020,2740.05027 C1020,2739.03514 1020.23596,2738.03302 1020.70787,2737.04392 C1020.99625,2736.44526 1021.55337,2735.56027 1022.37921,2734.38897 C1023.20506,2733.21767 1023.82772,2732.28062 1024.24719,2731.57784 C1024.92884,2730.40654 1025.45318,2729.17016 1025.82022,2727.86872 C1025.95131,2727.50431 1026.18071,2727.25053 1026.50843,2727.10737 C1026.83614,2726.96421 1027.17041,2726.96421 1027.51124,2727.10737 C1027.85206,2727.25053 1028.07491,2727.50431 1028.17978,2727.86872 C1028.57303,2729.17016 1029.09738,2730.41955 1029.75281,2731.61689 C1030.17228,2732.31967 1030.79494,2733.2502 1031.62079,2734.40849 C1032.44663,2735.56678 1033.00375,2736.44526 1033.29213,2737.04392 C1033.76404,2738.007 1034,2739.00911 1034,2740.05027 C1034,2741.29966 1033.68539,2742.45795 1033.05618,2743.52513 C1032.42697,2744.59232 1031.57491,2745.43826 1030.5,2746.06296 C1029.42509,2746.68765 1028.25843,2747 1027,2747 Z M1025.30899,2740.28453 C1025.28277,2740.18041 1025.21723,2740.12836 1025.11236,2740.12836 C1025.00749,2740.12836 1024.94195,2740.18041 1024.91573,2740.28453 C1024.78464,2740.64893 1024.5618,2741.05238 1024.24719,2741.49488 C1024.08989,2741.72914 1023.98502,2741.89832 1023.93258,2742.00244 C1023.85393,2742.18464 1023.81461,2742.37986 1023.81461,2742.58809 C1023.81461,2742.92647 1023.93914,2743.2258 1024.1882,2743.48609 C1024.43727,2743.74638 1024.74532,2743.87653 1025.11236,2743.87653 C1025.4794,2743.87653 1025.78745,2743.74638 1026.03652,2743.48609 C1026.28558,2743.2258 1026.41011,2742.92647 1026.41011,2742.58809 C1026.41011,2742.37986 1026.37079,2742.18464 1026.29213,2742.00244 C1026.2397,2741.89832 1026.13483,2741.72914 1025.97753,2741.49488 C1025.66292,2741.05238 1025.44007,2740.64893 1025.30899,2740.28453 Z" id="accessible-water"></path>
              </g>
          </g>
      </svg>
      Accessible Water
    </button>
  </div>

  <div class="mb-15px text-center text-md-left">
    <button type="button" class="btn btn-width btn-icon btn-icon--carbon btn-outline-primary soil-chemistry-btn"  data-type="carbon"><?xml version="1.0" encoding="UTF-8"?>
      <svg width="22px" height="23px" viewBox="0 0 22 23" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <title>Carbon icon</title>
        <defs>
            <path d="M1.12790227e-12,6.90753546 L1.12790227e-12,6.43313099 C0.115118924,5.41653138 0.961129075,4.62742039 1.98787144,4.62742039 C2.58489994,4.62742039 3.12100263,4.89436076 3.48766929,5.31769732 L8.70283,2.47237628 C8.67392359,2.33391232 8.65858096,2.19022758 8.65858096,2.042911 C8.65858096,0.914770146 9.55445725,0 10.6597938,0 C11.7651304,0 12.6610067,0.914770146 12.6610067,2.042911 C12.6610067,2.0726467 12.6603396,2.10215541 12.6592278,2.13143714 L18.4989893,5.31769732 C18.865656,4.89436076 19.4017586,4.62742039 19.9987871,4.62742039 C21.1041237,4.62742039 22,5.54196355 22,6.67033139 C22,7.55990563 21.4432181,8.31646367 20.6658581,8.59702345 L20.6658581,14.9581943 C21.4432181,15.2387541 22,15.9953121 22,16.8848864 C22,18.0132542 21.1041237,18.9277974 19.9987871,18.9277974 C19.4017586,18.9277974 18.865656,18.660857 18.4989893,18.2375204 L12.6047504,21.4532893 C12.4101082,22.2740883 11.7299285,22.9011263 10.8921315,23 L10.4274665,22.9999999 C9.46005119,22.8858237 8.70282003,22.067353 8.66035981,21.0596885 L3.48766929,18.2375204 C3.12100263,18.660857 2.58489994,18.9277974 1.98787144,18.9277974 C0.961129075,18.9277974 0.115118924,18.1386864 0,17.1220868 L1.12790227e-12,16.6476823 C0.0888893867,15.8627108 0.613553436,15.2134494 1.32080049,14.9581943 L1.32080049,8.59702345 C0.613553436,8.34176839 0.0888893867,7.69250695 1.08536728e-12,6.90753546 Z M2.66939559,8.59180268 L2.66939559,14.9634151 C3.41184556,15.2380731 3.95017182,15.9483252 3.98708308,16.7920474 L9.21669699,19.555425 C9.58069537,19.1686339 10.0927835,18.9277974 10.6597938,18.9277974 C11.3571053,18.9277974 11.9710329,19.2918895 12.3292501,19.8439294 L17.9977966,16.8485679 C18.0133616,15.9406075 18.609056,15.1772398 19.4226602,14.9280046 L19.4226602,8.62721313 C18.5981605,8.37480013 17.9975743,7.59418114 17.9975743,6.67033139 C17.9975743,6.61085998 18.0000202,6.55206954 18.0049121,6.49396007 L12.1538104,3.40212778 C11.7873661,3.8216055 11.2537093,4.08582199 10.6597938,4.08582199 C10.2015161,4.08582199 9.77948251,3.92874483 9.44216697,3.66430136 L3.98552658,6.54752974 C3.98797251,6.58816097 3.98908429,6.62901919 3.98908429,6.67033139 C3.98908429,7.55423088 3.43897312,8.30715708 2.66939559,8.59180268 Z M7.32443905,11.8795274 C7.32443905,11.1645086 7.43250455,10.5268934 7.64863554,9.9662278 C7.86476653,9.40578921 8.15672125,8.93137988 8.52427734,8.5429998 C8.89161108,8.15461972 9.31964827,7.85885161 9.80816657,7.65592245 C10.2969072,7.4527663 10.8134425,7.35130172 11.3582171,7.35130172 C11.8856479,7.35130172 12.363493,7.46388882 12.7915302,7.68883602 C13.2195674,7.91401021 13.576228,8.17663776 13.861512,8.47671869 L12.8108753,9.6815822 C12.5947443,9.47865304 12.3763897,9.31975996 12.1558116,9.20490296 C11.9354558,9.09027296 11.6781888,9.03284446 11.3842329,9.03284446 C11.0902769,9.03284446 10.8156661,9.09685567 10.5606226,9.22487809 C10.3053568,9.35290052 10.0827774,9.53608154 9.89266222,9.77442115 C9.70232464,10.0127608 9.5531231,10.3039891 9.44505761,10.6483331 C9.33699212,10.9924501 9.28295937,11.3808302 9.28295937,11.8134733 C9.28295937,12.7048635 9.46884981,13.3955944 9.84063069,13.885666 C10.2124116,14.3755107 10.7096018,14.620433 11.3322013,14.620433 C11.6781888,14.620433 11.9808167,14.5498391 12.2403073,14.4086513 C12.4995755,14.2672364 12.7330503,14.0820125 12.9405094,13.8525255 L13.9911461,15.0308311 C13.6367091,15.4546217 13.2324641,15.7724078 12.7784112,15.9841896 C12.3245806,16.1959714 11.8338387,16.3019758 11.3064079,16.3019758 C10.7616333,16.3019758 10.2470993,16.2070939 9.76280574,16.0173302 C9.27873459,15.8275664 8.85492218,15.5472336 8.49181322,15.1765588 C8.12870427,14.8058839 7.8431979,14.34464 7.63573883,13.7928271 C7.42827977,13.2412411 7.32443905,12.6033989 7.32443905,11.8795274 Z" id="path-1"></path>
        </defs>

        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="Desktop-WF" transform="translate(-1016.000000, -2783.000000)">
                <g id="carbon-icon" transform="translate(1016.000000, 2783.000000)">
                    <mask id="mask-2" fill="white">
                        <use xlink:href="#path-1"></use>
                    </mask>
                    <g id="Clip-2"></g>
                    <polygon id="Fill-1" fill="#58C4B3" opacity="0.5" mask="url(#mask-2)" points="0 23 22 23 22 0 0 0"></polygon>
                </g>
            </g>
        </g>
      </svg>
      Carbon
    </button>
  </div>

  <div class="mb-md-5 mb-2 text-center text-md-left">
    <button type="button" class="btn btn-width btn-icon btn-icon--soil btn-outline-danger soil-chemistry-btn"  data-type="soil_quality">
      <?xml version="1.0" encoding="UTF-8"?>
      <svg width="31px" height="11px" viewBox="0 0 31 11" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <title>Soil quality icon</title>
        <defs>
            <path d="M0.0144186047,10.9332546 C0.284113531,9.70354399 0.759927485,8.55660613 1.44186047,7.49197778 C2.13611628,6.40811111 3.12403101,5.86642222 4.40560465,5.86642222 C5.06453488,3.66691111 6.13271318,2.04135556 7.60989922,0.989266667 C8.28309038,0.509925609 9.81351364,0.00672588738 11.3906587,-1.0658141e-13 L11.4544799,-8.05281767e-14 C12.1085136,0.00280028962 12.768694,0.0920645401 13.3773411,0.304822222 C14.845876,0.818155556 16.261062,2.04453333 17.6226589,3.98395556 C18.744186,3.64173333 19.8657132,3.69868889 20.987,4.15506667 C22.1085271,4.61144444 22.9094806,5.43864444 23.3901008,6.63642222 C25.3661705,5.83782222 27.1016899,5.83782222 28.5968992,6.63642222 C30.0921085,7.43502222 30.8933023,8.88946667 31,11 L0.0144186047,11 L0.0144186047,10.9332546 Z M9.37209302,3.66666667 C9.77028682,3.66666667 10.0930233,3.33837778 10.0930233,2.93333333 C10.0930233,2.52828889 9.77028682,2.2 9.37209302,2.2 C8.97389922,2.2 8.65116279,2.52828889 8.65116279,2.93333333 C8.65116279,3.33837778 8.97389922,3.66666667 9.37209302,3.66666667 Z M7.56976744,3.66666667 C7.76874419,3.66666667 7.93023256,3.5024 7.93023256,3.3 C7.93023256,3.0976 7.76874419,2.93333333 7.56976744,2.93333333 C7.3707907,2.93333333 7.20930233,3.0976 7.20930233,3.3 C7.20930233,3.5024 7.3707907,3.66666667 7.56976744,3.66666667 Z M9.73255814,5.13333333 C9.93153488,5.13333333 10.0930233,4.96906667 10.0930233,4.76666667 C10.0930233,4.56426667 9.93153488,4.4 9.73255814,4.4 C9.5335814,4.4 9.37209302,4.56426667 9.37209302,4.76666667 C9.37209302,4.96906667 9.5335814,5.13333333 9.73255814,5.13333333 Z" id="path-oil"></path>
        </defs>
        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="Desktop-WF" transform="translate(-1014.000000, -2844.000000)">
                <g id="soil-icon" transform="translate(1014.000000, 2844.000000)">
                    <mask id="mask-oil" fill="white">
                        <use xlink:href="#path-oil"></use>
                    </mask>
                    <g id="Clip-2"></g>
                    <polygon id="Fill-1" fill="#B6334F" opacity="0.5" mask="url(#mask-oil)" points="0.0144186047 11 31.0144186 11 31.0144186 0 0.0144186047 0"></polygon>
                </g>
            </g>
        </g>
      </svg>
      Soil Quality
    </button>
  </div>

  <p>Explanation of soil quality, water, carbon effects Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit ameta</p>
</div>