/* START Circle Chart CSS */
#chart-circle-wrapper{
  position: relative;
}

#chart-circle-wrapper .scatter-chart-group {
    color: #525252;
    text-align: center;
}

#chart-circle-wrapper .scatter-chart-group .sub-title {
    font-size: 1.1em;
    margin-top: 1em;
}

#chart-circle-wrapper .chart-wrapper {
    display: grid;
    grid-column-gap: 0.2em;
    grid-template-columns: repeat(8, 1fr);
}

#chart-circle-wrapper .chart {
    grid-column: 1 / span 6;
}
#chart-circle-wrapper .legend-group {
    grid-column: 7 / span 2;   
}

@media (max-width: 768px) {
    #chart-circle-wrapper .chart-wrapper {
        display: block;
    }
    #chart-circle-wrapper .legend-group {
        display: none;
    }
}

#chart-circle-wrapper .axis path,
#chart-circle-wrapper .axis line {
	fill: none;
	stroke: #B3B3B3;
	shape-rendering: crispEdges;
}
#chart-circle-wrapper .axis text {
	font-size: 12px;
	fill: #6B6B6B;
}

#chart-circle-wrapper .circle-wrapper {
	fill: none;
	pointer-events: all;
}

#chart-circle-wrapper .guide {
	pointer-events: none;
	font-size: 14px;
	font-weight: 600;
}

#chart-circle-wrapper .legendCircle {
	stroke-width:1;
	stroke:#999;
	stroke-dasharray:2 2;
	fill:none;
}

#chart-circle-wrapper .legendLine {
	stroke-width: 1;
	stroke: #D1D1D1;
	shape-rendering: crispEdges;
}

#chart-circle-wrapper .legendTitle {
	fill: #1A1A1A;
	color: #1A1A1A;
	text-anchor: middle;
	font-size: 10px;
}

#chart-circle-wrapper .legendText {
	fill: #949494;
	text-anchor: start;
	font-size: 9px;
}

#chart-circle-wrapper .popover {
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
  z-index: 1060;
  display: none;
  max-width: 276px;
  padding: 10px 15px 10px 15px;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-break: auto;
  line-height: 1.42857143;
  text-align: left;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  white-space: normal;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
  font-size: 14px;
  background-color: #ffffff;
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
  border: 1px solid #e3e3e3;
  border: 1px solid rgba(0, 0, 0, 0.1);
  /*border-radius: 3px;*/
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  pointer-events: none;
}
#chart-circle-wrapper .popover.top {
  margin-top: -10px;
}
#chart-circle-wrapper .popover.bottom {
  margin-top: 10px;
}
#chart-circle-wrapper .popover > .arrow,
#chart-circle-wrapper .popover > .arrow:after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
#chart-circle-wrapper .popover > .arrow {
  border-width: 8px;
}
#chart-circle-wrapper .popover > .arrow:after {
  border-width: 8px;
  content: "";
}
#chart-circle-wrapper .popover.top > .arrow {
  left: 50%;
  margin-left: -8px;
  border-bottom-width: 0;
  border-top-color: #e3e3e3;
  border-top-color: rgba(0, 0, 0, 0.1);
  bottom: -8px;
}
#chart-circle-wrapper .popover.top > .arrow:after {
  content: " ";
  bottom: 1px;
  margin-left: -8px;
  border-bottom-width: 0;
  border-top-color: #ffffff;
}
#chart-circle-wrapper .popover.bottom > .arrow {
  left: 50%;
  margin-left: -8px;
  border-top-width: 0;
  border-bottom-color: #999999;
  border-bottom-color: rgba(0, 0, 0, 0.25);
  top: -8px;
}
#chart-circle-wrapper .popover.bottom > .arrow:after {
  content: " ";
  top: 1px;
  margin-left: -8px;
  border-top-width: 0;
  border-bottom-color: #ffffff;
}
#circle-tooltip{
  position: absolute;
  display: inline-block;
  top: 0;
  padding: 10px;
  border: 1px solid #E1E1E1;
  background-color: #fff;
}

/* START Bar Chart CSS */
#zoom-bar-chart svg {
  font: 10px sans-serif;
}
#zoom-bar-chart .area {
  fill: #FC582F; /* material Orange */
  fill-opacity: .9;
  clip-path: url(#clip);
}
#zoom-bar-chart .axis path,
#zoom-bar-chart .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
#zoom-bar-chart .brush .extent {
  stroke: #fff;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}
#zoom-bar-chart #btnDiv {
  fill: #fff;
}
#zoom-bar-chart .axis path,
#zoom-bar-chart .axis line {
  fill: none;
  stroke: #121401;
  stroke-width: 0px;
  shape-rendering: crispEdges;
}
#zoom-bar-chart .point {
  stroke: grey;
  stroke-width: 0px;
  opacity: 0;
}
#zoom-bar-chart .point:hover{
  opacity: .5;
}


/* START Line Area Chart CSS */
#chart-gradient{
  position: relative;
}
#chart-gradient-tooltip{
    display: inline-block;
    position: absolute;
    border: 1px solid #E1E1E1;
    background-color: #fff;
    padding: 10px;
}
#chart-gradient .x.axis .domain{
  fill: #777d7b;
}
.gradient-wrapper{
  min-height: 500px;
}
#area-tooltip {
    position: absolute;
    display: inline-block;
    top: 0;
    padding: 10px;
    border: 1px solid #E1E1E1;
    background-color: #fff;
    min-width: 150px;
}

/* START Bar Chart */ 

#zoom-bar-chart .brush{
  fill: #42937f;
  opacity: 0.5;
}

/* START Curve Line */ 
#curve-line-sp{
  min-height: 400px;
}
#curve-line-sp .axis path,
#curve-line-sp .axis line{
  fill: none;
  stroke: #ffffff4d;
  stroke: #ffffff80;
  stroke-width: 0.5;
}
#curve-line-sp .x.axis line{
  display: none;
}

#curve-line-sp .line{
  fill: none;
  stroke-width: 4px;
  stroke: #44A484;
}

#curve-line-sp .tick text{
  font-size: 12px;
  fill: #FFFFFF;
  text-align: center;
  line-height: 16px;
}

#curve-line-sp .tick line{
  opacity: 1;
}
#curve-line-sp .y.axis .domain{
  display: none;
}



/* MAP */

#map-counties{
  position: relative;
}
.map-counties-sp {
    position: relative;
    /*min-height: 700px;*/
}
.map-counties-sp .tooltip {
    background: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.3);
    margin: 12px;
    padding: 2px;
    pointer-events: none;
    position: absolute;
    visibility: hidden;
}
.map-counties-sp .tooltip .container {
    border: 1px solid #666;
    padding: 8px 16px;
}
#tooltip-state {
    font-weight: bold;
    font-size: 10px;
    line-height: 2em;
    text-transform: uppercase;
}
#tooltip-content {
    font-size: 14px;
    text-transform: lowercase;
}
.map-counties-sp .county {
    fill: #fff;
    stroke: #fcfcfc;
    /* stroke: #fcfcfc; */
    stroke-width: 0.5;
}
.map-counties-sp .state {
    fill: #fff;
    fill-opacity: 0.0;
    stroke: #eee;
    stroke-width: 1;
    cursor: pointer;
}
.map-counties-sp .highlight-inner {
  fill: none;
  pointer-events: none;
  stroke: #F7AB4E;
  /*stroke: #074d8a;*/
  /*stroke: #064780;*/
  /*stroke: #0ac775;*/
  /*opacity: 0.9;*/
  stroke-width: 1;
  stroke-linejoin: round;
/*  stroke: #074d8a;
  stroke-width: 1.5;*/
}
.map-counties-sp .highlight-outer {
  fill: none;
  pointer-events: none;
  stroke: #fff;
  stroke-width: 4.5;
  /*stroke: #074d8a;*/
  /*stroke-width: 1.5;*/
  stroke-linejoin: round;
}
.map-counties-sp .state{
  /*fill-opacity: 1;*/
}

.section--range-sliders .slider-container .range-custom{
  background: #f5f5f5;
  border-radius: 6px;
}
.section--range-sliders .fill{
  position: inherit;
  z-index: inherit;
}
.section--range-sliders input[type="range"]{
  position: absolute;
  top: 0;
  cursor: pointer;
  background: transparent;
}


/*  *  *  *  *  *  *  *  *  *
*
*        Autocomplete 
*
*  *  *  *  *  *  *  *  *  */

.autocomplete-active{
    background-color: #d2d2d2;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    display: none;
}
.select2-container{
  margin-top: -28px;
}
.select2-container--default .select2-search--dropdown .select2-search__field{
  border: none;
  padding: 0;
}
.select2-container--open .select2-dropdown--below{
  margin-top: -7px;
}
.select2-container--default .select2-search--dropdown .select2-search__field:focus{
  outline: none;
}
.select2-dropdown{
  border:none;
}
.select2-results {
    display: block;
    border-left: 1px solid #ababaa;
    border-right: 1px solid #ababaa;
    border-bottom: 1px solid #ababaa;
}
.select2-container--default .select2-selection--single {
    border: none;
    border-radius: 0px;
    height: 35px;
    line-height: 37px;
    background:transparent;
}
.select2-container--default .select2-selection--single:focus{
  outline: none;
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
  line-height: 35px;
  /*background-image: url(/img/f002-512.png);*/
  background-size: 21px;
  background-repeat: no-repeat;
  background-position: calc(100% - 10px) center;
}
.select2-container--default .select2-selection--single .select2-selection__rendered:focus{
  outline: none;
}
.select2-container {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}
.select2-selection:after {
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  content: "\f002";
  position: absolute;
  right: 0px;
  top: 0;
  z-index: 9999;
}
.select2-search--dropdown{
  height: 35px;
  line-height: 31px;
}
