.section {
  .section--header {
    @include media-breakpoint-up(md) {
      min-height: 486px;
    }
    background-repeat: no-repeat;
  }

  &:before {
    content: "";
    width: 100%;
    @include media-breakpoint-up(md) {
      height: 40px;
    }

    @include media-breakpoint-down(sm) {
      height: 20px;
    }
    
    background-color: $primary;
    display: block;
  }
}

.section--header {
  overflow: hidden;

  .section--corn-production & {
    background-image: url('/img/corn-production.svg');
    background-position: 97% 143px;
    @include media-breakpoint-down(sm) {
      background-size: 300px;
      background-position: right -45px bottom -50px;
    }
  }

  .section--country & {
    background-image: url('/img/bg-select-country.svg');
    background-position: 104% center;
  }
}

.jumbotron-bg-corn {
  background-image: url('/img/bg-jumbotron.svg');
  background-repeat: no-repeat;
  background-position: right 20px bottom 20px;
}

//chart
.section--range-sliders {
  .range-style {
    position: relative;
    z-index: 1000;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    background: transparent;
    height: 37px;
    border-radius: 5px;
    outline: none;
    margin: 0;
    padding: 0;
    width: 100%;
  }
  input[type='range'] {
    position: relative;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
    height: 37px;
    border-radius: 6px;
    outline: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background: #F5F5F5;

    &::-webkit-slider-thumb {
      position: relative;
      -webkit-appearance: none;
              appearance: none;
      width: 10px;
      height: 22px;
      cursor: pointer;
      transition: background 0.3s ease-in-out;
      z-index: 9999;
      position: relative;

      &:hover,
      &:active {}
    }

    &::-moz-range-track {
      background: transparent;
    }
  }

  .fill {
    position: absolute;
    z-index: 50;
    top: 0;
    height: 37px;
    width: 0%;
    border-radius: 6px;
  }
  .count {
    position: absolute;
    top: -18px;
    left: 0;
    color: #000;
    padding: 2px 5px;
    text-align: center;
    margin-left: 0px;
    font-size: 11px;
  }
  .slider-container {
    display: inline-block;
    position: relative;
    width: 100%;
    margin: 15px 0;
    font-family: $font-family-sans-serif;


    &.range-blue {
      input[type='range']::-webkit-slider-thumb {
        background: url('/img/range-blue.svg') no-repeat;
      }
      .fill {
          background: #2E8BC2;
      }
      .count {
        color: #2E8BC2;
      }
    }
    &.range-teal {
      input[type='range']::-webkit-slider-thumb {
        background: url('/img/range-teal.svg') no-repeat;
      }
      .fill {
          background: #58C4B3;        
      }
      .count {
        color: #58C4B3;
      }
    }
    &.range-red {
      input[type='range']::-webkit-slider-thumb {
        background: url('/img/range-red.svg') no-repeat;
      }
      .fill {
          background: #B6334F;
      }
      .count {
        color: #B6334F;
      }
    }
  }

  .round-sliders {
    .round-slider-item {
      margin-bottom: 45px;

      &:last-child {
        margin-bottom: 0;
      }
    }
    .rs-path-color {
      background: #f5f5f5;
    }
    .rs-handle {
      width: 14px !important;
      height: 27px !important;
      transform: rotate(90deg);
      margin: -12.5px 0px 0 14px !important;
    }
    .rs-border  {
        border-color: transparent;
    }
    .rs-tooltip-text {
      font-size: 50px;
      font-weight: bold;

      .tooltip-parameter {
        font-size: 30px;
        font-weight: normal;
      }
      .tooltip-label {
        font-size: 12px;
        font-weight: bold;
        text-transform: uppercase;
        color: #030502;
      }
    }
    .round-dark-teal {
      .rs-handle {
        background: url('/img/range-teal-dark.svg') no-repeat;
      }
      .rs-range-color {
        background: #56ADB3;
      }
      .rs-tooltip-text {
        color: #56ADB3;
      }
    }
    .round-yellow {
      .rs-handle {
        background: url('/img/range-yellow.svg') no-repeat;
      }
      .rs-range-color {
        background: #E8B251;
      }
      .rs-tooltip-text {
        color: #E8B251;
      }
    }
  }
}

#map-counties {
  .background {
    fill: none;
    pointer-events: all;
  }

  #states {
    fill: #aaa;
  }

  #states .active {
    display:none;
  }

  #state-borders {
    fill: none;
    stroke: #fff;
    stroke-width: 1.5px;
    stroke-linejoin: round;
    stroke-linecap: round;
    pointer-events: none;
  }

  .county-boundary {
    fill: #aaa;
    stroke: #fff;
    stroke-width: .5px;
  }

  .county-boundary:hover, .state:hover {
    fill: orange;
  }
}