<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
  </head>

  <body class="page page--home">
    <header>
    </header>

    <main>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-10 col-12 text-center text-white">
            <h1 class="mb-3">Corn production<br>in the U.S.</h1>
          </div>

          <div class="col-md-8 col-sm-10 col-12 text-center text-white">
            <p class="mb-5 px-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

            <a class="btn btn-primary" href="/landing">Get Started</a>
          </div>
        </div>
      </div>
    </main>

    <footer  class="pb-5">
      <% include ../partials/footer %>
    </footer>
  </body>
</html>
