<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
  </head>

  <body class="">
    <header class="bg-light">
      <% include ../partials/header %>
    </header>

    <main>
      <div class="jumbotron">
        <h1>This is great</h1>
        <p>Welcome to templating using EJS</p>
      </div>
    </main>

    <footer class="bg-light">
      <% include ../partials/footer %>
    </footer>
  </body>
</html>
