<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Welcome Corn Production in the U.S.</title>
    <% include ../partials/head %>
  </head>

  <body class="page page--home">
    <header>
    </header>

    <main>
      <div class="container">
        <div class="row justify-content-center mb-3">
          <div class="col-md-10 col-12 text-center text-white">
            <h1 class="mb-3 text-center">Corn production<br>in the U.S.</h1>
          </div>

          <div class="col-md-8 col-sm-10 col-12 text-center text-white">
            <p class="mb-5 px-md-5">Explore and analyze corn production using data on soil quality, weather conditions, availability of water, and vegetation in every county across the United States. Data was obtained from publicly available datasets from <a href="data.gov">data.gov</a>. The data was analyzed and processed and the product was designed and developed by Insomniac Design and Greycells Technologies.</p>

            <a class="btn btn-width btn-primary" href="/landing">Get Started</a>
          </div>
        </div>
      </div>
    </main>

    <footer class="pb-md-5 pb-3">
      <% include ../partials/footer %>
    </footer>
  </body>
</html>
