<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
  </head>

  <body class="page page--landing">
    <main>
      <div class="section corn-production">
        <div class="justify-content-center">
          <div class="col-md-10 text-center">
            <h1>Corn Production in the U.S.</h1>
            <p>Every year, the United States produces XXX tons of corn on average. Explore the map below to find the most productive states.</p>
          </div>
        </div>
      </div>
    </main>

    <footer>
      <% include ../partials/footer %>
    </footer>
  </body>
</html>
