<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
  </head>

  <body class="page page--landing">
    <main>
      <div class="section section--corn-production">
        <div class="section--header d-flex align-items-center">
          <div class="container">
            <div class="row pt-4 pb-15 py-md-0">
              <div class="col-lg-6 col-md-8 col-sm-10">
                <div class="h2 mb-3">Corn Production in the U.S.</div>
                <p>Every year, the United States produces <strong>XXX</strong> tons of corn on average.<br>Explore the map below to find the most productive states.</p>
              </div>
            </div>
          </div>
        </div>

        <div class="section--content">
          <div class="bg-light">
            <div class="d-flex justify-content-end mb-2">
              <img src="/img/pallet.svg" alt="Pallet">
            </div>

            <div class="container">
              <div class="row justify-content-center">
                <div class="col-lg-6 col-md-8 col-12 mb-2">
                  <div class="input-group input-group-custom">
                    <input class="form-control form-custom" type="text" placeholder="Search for a county…">

                    <div class="input-group-append">
                      <button type="button" class="btn btn-link"><i class="fas fa-search"></i></button>
                    </div>
                  </div>
                </div>

                <div class="col-lg-8 col-md-10 col-12 text-center mb-3 text-muted text-sm">
                  Not sure where to start? <span class="text-primary">Try Butler County, Iowa</span>
                </div>

                <div class="col-lg-8 col-md-10 col-12 text-center mb-3">
                  <div class="d-md-inline-block">
                    <button type="button" class="btn btn-sm btn-primary">Yield</button>
                  </div>

                  <div class="d-md-inline-block my-1 my-md-0 mx-md-5px">
                    <button type="button" class="btn btn-sm btn-outline-primary">Acreage</button>
                  </div>

                  <div class="d-md-inline-block">
                    <button type="button" class="btn btn-sm btn-outline-warning">Production</button>
                  </div>
                </div>

                <div class="col-12 pb-4">
                  
                </div>
              </div>
            </div>
          </div>

          <div class="bg-white pt-5 pb-3">
            <div class="container">
              <h5 class="mb-3">Use slider to change the data range</h5>

              <div class="chart">
                <img src="/img/aftcountry.svg" class="img-fluid" alt="Selec country">

                <div class="scatter-chart-group">
                  <div class="zoom-wrapper">
                    <div id="zoom-bar-chart"></div>
                    <div id="map-counties"></div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="section section--country">
        <div class="section--header d-flex align-items-center">
          <div class="container">
            <div class="row">
              <div class="col-lg-7 col-md-9 col-sm-11">
                <div class="h4 mb-2">How well is <span class="text-primary">selected county</span> equipped for corn production?</div>
                <p>Blurb…Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed<br>do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <div class="zoom-wrapper">
                  <div id="zoom-bar-chart"></div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="section--content">
          <div class="container">
            <div class="row mb-13">
              <div class="col-12">
                <h5 class="mb-4">Temperature and Vegetation</h5>
              </div>

              <div class="col-lg-9 col-md-6 mob-full">
                <img src="/img/temp vegetation.png" class="img-fluid" alt="Temperature">

                <div class="gradient-wrapper">
                  <div id="chart-gradient-final" class=""></div>
                </div>

              </div>

              <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
                <div class="mb-15px text-center text-md-left">
                  <button type="button" class="btn btn-width btn-icon btn-icon--corn btn-primary"><img src="/img/icon--corn-yield.svg" alt="Corn Yield">Corn Yield</button>
                </div>

                <div class="mb-15px text-center text-md-left">
                  <button type="button" class="btn btn-width btn-icon btn-icon--temperature btn-greenblue"><img src="/img/icon--temperature.svg" alt="Temperature">Temperature</button>
                </div>

                <div class="mb-5 text-center text-md-left">
                  <button type="button" class="btn btn-width btn-icon btn-icon--vegetation btn-outline-warning">
                    <?xml version="1.0" encoding="UTF-8"?>
                    <svg width="17px" height="26px" viewBox="0 0 17 26" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <!-- Generator: Sketch 49.3 (51167) - http://www.bohemiancoding.com/sketch -->
                        <title>vegetation-icon</title>
                        <desc>Created with Sketch.</desc>
                        <defs>
                            <path d="M7.74696817,13.3483316 C8.25533708,12.8510142 8.85279721,12.4414337 9.53934857,12.1191652 C11.0097761,11.4291664 12.6224962,11.2658016 14.3770867,11.6290706 C13.5256532,13.2149206 12.3647227,14.3529511 10.8942953,15.0429499 C9.49395849,15.7000207 8.05456514,15.8372557 6.57611521,15.4548672 C3.6578497,20.7029365 1.59143989,24.4146539 1.39615699,25.2567583 C0.964845666,27.1162284 -0.21782983,24.9565833 0.0350879217,24.4975047 C0.805452592,23.4956469 1.78440052,22.0432081 2.82942795,20.4127461 C1.83169065,19.4550755 1.20952987,18.2732827 0.963156732,16.8671553 C0.681527116,15.2592118 0.942045067,13.6495688 1.74471059,12.0382263 C3.04666699,13.2761027 3.83856556,14.6990127 4.12040629,16.3069562 C4.2384205,16.9799599 4.25784323,17.6344815 4.17909672,18.2700961 C4.59415206,17.6013411 5.01026299,16.9232389 5.41877371,16.2512974 C4.38113536,15.2823675 3.7363851,14.0791185 3.48431181,12.6411254 C3.2026822,11.0333943 3.46320015,9.42375134 4.26586567,7.81219639 C5.56782207,9.05028527 6.35972064,10.4731952 6.64156137,12.0809263 C6.7661202,12.7913191 6.78089837,13.4811054 6.6863181,14.1498604 C7.13346318,13.4029282 7.55886324,12.687012 7.94942905,12.0271795 C6.8332553,11.038068 6.14395942,9.79424327 5.8813303,8.29549292 C5.59948957,6.68754942 5.86000752,5.07790641 6.66267304,3.46656389 C7.96484056,4.70465278 8.75673913,6.12735031 9.03836875,7.73529382 C9.1899505,8.59970419 9.17918355,9.43331105 9.0060679,10.2363268 C9.48319154,9.42608816 9.84504548,8.81044272 10.0430729,8.48180108 C9.2317516,7.15087678 8.95751107,5.73646432 9.21992907,4.23813885 C9.5017698,2.63040778 10.3506699,1.21769483 11.7670515,0 C12.6841422,1.63152413 13.0018728,3.25136416 12.7200321,4.85909523 C12.4434693,6.43729741 11.6386926,7.72318485 10.305702,8.71675755 C10.2520784,8.81405417 10.198877,8.91113835 10.1456756,9.0080101 C10.6998568,8.40532339 11.3720522,7.9184154 12.162473,7.54771103 C13.6329005,6.85771228 15.2454095,6.69434743 17,7.05740404 C16.1485665,8.64346643 14.9876361,9.78128455 13.5172086,10.4712833 C12.0930156,11.1396134 10.6282883,11.2702628 9.12323764,10.8634439 M4.17888561,19.8444744 C4.83208053,18.3514599 5.8939973,17.2599532 7.3644248,16.5699545 C8.83485229,15.8799557 10.4473613,15.7165909 12.2019518,16.0798599 C11.3505183,17.6657099 10.1895879,18.8037404 8.71916037,19.4937392" id="path-veg"></path>
                        </defs>
                        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g id="Desktop-WF" transform="translate(-1018.000000, -2216.000000)">
                                <g id="vegetation-icon" transform="translate(1018.000000, 2216.000000)">
                                    <mask id="mask-veg" fill="white">
                                        <use xlink:href="#path-veg"></use>
                                    </mask>
                                    <g id="Clip-2"></g>
                                    <polyline id="Fill-1" fill="#E8B251" mask="url(#mask-veg)" points="7.00965981 -6 22 2.62818924 4.99034019 32 -10 23.3718108"></polyline>
                                </g>
                            </g>
                        </g>
                    </svg>
                  Vegetation</button>
                </div>

                <p>Explanation of soil quality, water, carbon effects Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit ameta</p>
              </div>
            </div>

            <div class="row mb-13">
              <div class="col-12">
                <h5 class="mb-4">Soil Chemistry</h5>
              </div>

              <div class="col-lg-9 col-md-6 mob-full">
                <div id="chart-circle-wrapper-final" class="scatter-chart-group">
                  <div class="chart-wrapper">
                    <div id="chart-final" class="chart"></div>
                    <div id="legend-final-wrapper" class="legend-group">
                      <div id="legend-final"></div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
                <div class="mb-15px text-center text-md-left">
                  <button type="button" class="btn btn-width btn-icon btn-icon--water btn-primary"><img src="/img/icon--accessible-water.svg" alt="Accessible Water">Accessible Water</button>
                </div>

                <div class="mb-15px text-center text-md-left">
                  <button type="button" class="btn btn-width btn-icon btn-icon--carbon btn-outline-primary"><?xml version="1.0" encoding="UTF-8"?>
                    <svg width="22px" height="23px" viewBox="0 0 22 23" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                      <title>carbon-icon</title>
                      <desc>Created with Sketch.</desc>
                      <defs>
                          <path d="M1.12790227e-12,6.90753546 L1.12790227e-12,6.43313099 C0.115118924,5.41653138 0.961129075,4.62742039 1.98787144,4.62742039 C2.58489994,4.62742039 3.12100263,4.89436076 3.48766929,5.31769732 L8.70283,2.47237628 C8.67392359,2.33391232 8.65858096,2.19022758 8.65858096,2.042911 C8.65858096,0.914770146 9.55445725,0 10.6597938,0 C11.7651304,0 12.6610067,0.914770146 12.6610067,2.042911 C12.6610067,2.0726467 12.6603396,2.10215541 12.6592278,2.13143714 L18.4989893,5.31769732 C18.865656,4.89436076 19.4017586,4.62742039 19.9987871,4.62742039 C21.1041237,4.62742039 22,5.54196355 22,6.67033139 C22,7.55990563 21.4432181,8.31646367 20.6658581,8.59702345 L20.6658581,14.9581943 C21.4432181,15.2387541 22,15.9953121 22,16.8848864 C22,18.0132542 21.1041237,18.9277974 19.9987871,18.9277974 C19.4017586,18.9277974 18.865656,18.660857 18.4989893,18.2375204 L12.6047504,21.4532893 C12.4101082,22.2740883 11.7299285,22.9011263 10.8921315,23 L10.4274665,22.9999999 C9.46005119,22.8858237 8.70282003,22.067353 8.66035981,21.0596885 L3.48766929,18.2375204 C3.12100263,18.660857 2.58489994,18.9277974 1.98787144,18.9277974 C0.961129075,18.9277974 0.115118924,18.1386864 0,17.1220868 L1.12790227e-12,16.6476823 C0.0888893867,15.8627108 0.613553436,15.2134494 1.32080049,14.9581943 L1.32080049,8.59702345 C0.613553436,8.34176839 0.0888893867,7.69250695 1.08536728e-12,6.90753546 Z M2.66939559,8.59180268 L2.66939559,14.9634151 C3.41184556,15.2380731 3.95017182,15.9483252 3.98708308,16.7920474 L9.21669699,19.555425 C9.58069537,19.1686339 10.0927835,18.9277974 10.6597938,18.9277974 C11.3571053,18.9277974 11.9710329,19.2918895 12.3292501,19.8439294 L17.9977966,16.8485679 C18.0133616,15.9406075 18.609056,15.1772398 19.4226602,14.9280046 L19.4226602,8.62721313 C18.5981605,8.37480013 17.9975743,7.59418114 17.9975743,6.67033139 C17.9975743,6.61085998 18.0000202,6.55206954 18.0049121,6.49396007 L12.1538104,3.40212778 C11.7873661,3.8216055 11.2537093,4.08582199 10.6597938,4.08582199 C10.2015161,4.08582199 9.77948251,3.92874483 9.44216697,3.66430136 L3.98552658,6.54752974 C3.98797251,6.58816097 3.98908429,6.62901919 3.98908429,6.67033139 C3.98908429,7.55423088 3.43897312,8.30715708 2.66939559,8.59180268 Z M7.32443905,11.8795274 C7.32443905,11.1645086 7.43250455,10.5268934 7.64863554,9.9662278 C7.86476653,9.40578921 8.15672125,8.93137988 8.52427734,8.5429998 C8.89161108,8.15461972 9.31964827,7.85885161 9.80816657,7.65592245 C10.2969072,7.4527663 10.8134425,7.35130172 11.3582171,7.35130172 C11.8856479,7.35130172 12.363493,7.46388882 12.7915302,7.68883602 C13.2195674,7.91401021 13.576228,8.17663776 13.861512,8.47671869 L12.8108753,9.6815822 C12.5947443,9.47865304 12.3763897,9.31975996 12.1558116,9.20490296 C11.9354558,9.09027296 11.6781888,9.03284446 11.3842329,9.03284446 C11.0902769,9.03284446 10.8156661,9.09685567 10.5606226,9.22487809 C10.3053568,9.35290052 10.0827774,9.53608154 9.89266222,9.77442115 C9.70232464,10.0127608 9.5531231,10.3039891 9.44505761,10.6483331 C9.33699212,10.9924501 9.28295937,11.3808302 9.28295937,11.8134733 C9.28295937,12.7048635 9.46884981,13.3955944 9.84063069,13.885666 C10.2124116,14.3755107 10.7096018,14.620433 11.3322013,14.620433 C11.6781888,14.620433 11.9808167,14.5498391 12.2403073,14.4086513 C12.4995755,14.2672364 12.7330503,14.0820125 12.9405094,13.8525255 L13.9911461,15.0308311 C13.6367091,15.4546217 13.2324641,15.7724078 12.7784112,15.9841896 C12.3245806,16.1959714 11.8338387,16.3019758 11.3064079,16.3019758 C10.7616333,16.3019758 10.2470993,16.2070939 9.76280574,16.0173302 C9.27873459,15.8275664 8.85492218,15.5472336 8.49181322,15.1765588 C8.12870427,14.8058839 7.8431979,14.34464 7.63573883,13.7928271 C7.42827977,13.2412411 7.32443905,12.6033989 7.32443905,11.8795274 Z" id="path-1"></path>
                      </defs>

                      <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                          <g id="Desktop-WF" transform="translate(-1016.000000, -2783.000000)">
                              <g id="carbon-icon" transform="translate(1016.000000, 2783.000000)">
                                  <mask id="mask-2" fill="white">
                                      <use xlink:href="#path-1"></use>
                                  </mask>
                                  <g id="Clip-2"></g>
                                  <polygon id="Fill-1" fill="#58C4B3" opacity="0.5" mask="url(#mask-2)" points="0 23 22 23 22 0 0 0"></polygon>
                              </g>
                          </g>
                      </g>
                    </svg>
                    Carbon
                  </button>
                </div>

                <div class="mb-5 text-center text-md-left">
                  <button type="button" class="btn btn-width btn-icon btn-icon--oil btn-outline-danger">
                    <?xml version="1.0" encoding="UTF-8"?>
                    <svg width="31px" height="11px" viewBox="0 0 31 11" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                      <title>soil-icon</title>
                      <desc>Created with Sketch.</desc>
                      <defs>
                          <path d="M0.0144186047,10.9332546 C0.284113531,9.70354399 0.759927485,8.55660613 1.44186047,7.49197778 C2.13611628,6.40811111 3.12403101,5.86642222 4.40560465,5.86642222 C5.06453488,3.66691111 6.13271318,2.04135556 7.60989922,0.989266667 C8.28309038,0.509925609 9.81351364,0.00672588738 11.3906587,-1.0658141e-13 L11.4544799,-8.05281767e-14 C12.1085136,0.00280028962 12.768694,0.0920645401 13.3773411,0.304822222 C14.845876,0.818155556 16.261062,2.04453333 17.6226589,3.98395556 C18.744186,3.64173333 19.8657132,3.69868889 20.987,4.15506667 C22.1085271,4.61144444 22.9094806,5.43864444 23.3901008,6.63642222 C25.3661705,5.83782222 27.1016899,5.83782222 28.5968992,6.63642222 C30.0921085,7.43502222 30.8933023,8.88946667 31,11 L0.0144186047,11 L0.0144186047,10.9332546 Z M9.37209302,3.66666667 C9.77028682,3.66666667 10.0930233,3.33837778 10.0930233,2.93333333 C10.0930233,2.52828889 9.77028682,2.2 9.37209302,2.2 C8.97389922,2.2 8.65116279,2.52828889 8.65116279,2.93333333 C8.65116279,3.33837778 8.97389922,3.66666667 9.37209302,3.66666667 Z M7.56976744,3.66666667 C7.76874419,3.66666667 7.93023256,3.5024 7.93023256,3.3 C7.93023256,3.0976 7.76874419,2.93333333 7.56976744,2.93333333 C7.3707907,2.93333333 7.20930233,3.0976 7.20930233,3.3 C7.20930233,3.5024 7.3707907,3.66666667 7.56976744,3.66666667 Z M9.73255814,5.13333333 C9.93153488,5.13333333 10.0930233,4.96906667 10.0930233,4.76666667 C10.0930233,4.56426667 9.93153488,4.4 9.73255814,4.4 C9.5335814,4.4 9.37209302,4.56426667 9.37209302,4.76666667 C9.37209302,4.96906667 9.5335814,5.13333333 9.73255814,5.13333333 Z" id="path-oil"></path>
                      </defs>
                      <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                          <g id="Desktop-WF" transform="translate(-1014.000000, -2844.000000)">
                              <g id="soil-icon" transform="translate(1014.000000, 2844.000000)">
                                  <mask id="mask-oil" fill="white">
                                      <use xlink:href="#path-oil"></use>
                                  </mask>
                                  <g id="Clip-2"></g>
                                  <polygon id="Fill-1" fill="#B6334F" opacity="0.5" mask="url(#mask-oil)" points="0.0144186047 11 31.0144186 11 31.0144186 0 0.0144186047 0"></polygon>
                              </g>
                          </g>
                      </g>
                    </svg>
                    Soil Quality
                  </button>
                </div>

                <p>Explanation of soil quality, water, carbon effects Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit ameta</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      

      <div class="section section--range-slider">
        <div class="section--content">
          <div class="bg-green-dark text-white pt-4 pb-6 py-md-10">
            <div class="container">
              <div class="row mb-md-7">
                <div class="col-lg-8 col-md-6 col-12 mb-2 mb-md-7">
                  <h4>Is <span class="text-primary">selected county</span> good for corn?</h4>
                </div>

                <div class="col-lg-4 text-md-right d-none d-md-flex mb-md-7">
                  <a href="#" class="btn btn-link btn-link-primary pl-0">
                    <?xml version="1.0" encoding="UTF-8"?>
                    <svg width="23px" height="26px" viewBox="0 0 23 26" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <!-- Generator: Sketch 49.3 (51167) - http://www.bohemiancoding.com/sketch -->
                        <title>corn-icon</title>
                        <desc>Created with Sketch.</desc>
                        <defs>
                            <path d="M1.95923516e-10,10.4485109 L1.95923516e-10,10.3961969 C0.018620161,10.3426464 0.104027554,10.3165527 0.269303693,10.3165527 C1.85111687,10.3165527 5.60792315,9.91819435 9.56245608,14.4993158 C10.2387471,15.282754 10.8198657,16.1027747 11.3088437,16.9283061 C9.17115505,20.4756211 8.77906311,24.1589092 9.86623012,25.5313866 C8.44345508,24.6460351 7.00117101,22.4512795 6.00337644,18.6820789 C4.63378887,13.5083955 0.151383261,11.0224427 0,10.4485108 Z M14.646865,10.9833383 C13.8798174,11.2436655 12.8453775,11.367223 11.6619176,11.3463092 L11.6619176,8.1313578 C12.614301,8.13972333 13.4735551,8.0691475 14.1849096,7.91611149 C14.3950271,8.97826773 14.5569653,10.028606 14.646865,10.9833383 Z M14.6813353,11.3924523 C14.7092148,11.7687018 14.7245716,12.1270916 14.7258238,12.4620446 C14.2778412,12.866312 13.8241903,13.3286069 13.3679031,13.8571621 C12.7101325,14.6191553 12.1423934,15.4157393 11.6619176,16.218365 L11.6619176,11.7448003 C12.8358866,11.7655814 13.8740833,11.6504558 14.6813353,11.3924523 Z M8.19412178,10.8571251 C8.28843739,9.91275012 8.4510346,8.87993961 8.65943849,7.83770128 C9.39491571,7.99027254 10.3153992,8.09431047 11.2664643,8.12352342 L11.2664643,11.3341592 C10.0981635,11.2829702 8.96439889,11.0948786 8.19412178,10.8571251 Z M8.15767417,11.2597326 C8.97804203,11.5075115 10.1012612,11.6833868 11.2664643,11.7328496 L11.2664643,16.0804666 C10.8101771,15.3397192 10.2791493,14.6059431 9.67127165,13.9017782 C9.14386877,13.2907629 8.61995907,12.7683822 8.10428797,12.3217561 C8.10929705,11.9876662 8.12761972,11.6319321 8.15767417,11.2597326 Z M15.7284297,10.3525378 C15.556803,10.5372433 15.320981,10.6970514 15.0306524,10.8312318 C14.9379845,9.887056 14.7786168,8.85902579 14.5726516,7.8202399 C14.8998892,7.72788715 15.1873837,7.61468697 15.4282148,7.48017462 C15.5642507,8.38630717 15.6659481,9.34874103 15.7284297,10.3525378 Z M15.7565728,10.8604447 C15.7683705,11.1053023 15.7779273,11.3524173 15.7850455,11.6015905 C15.5639212,11.7619961 15.3406878,11.9355476 15.1157408,12.1233736 C15.1078317,11.8444563 15.0916181,11.5525924 15.067825,11.2504376 C15.3313287,11.1394948 15.5624053,11.0096299 15.7565728,10.8604447 Z M7.36301078,10.482801 C7.42305377,9.45948467 7.52382845,8.47819517 7.66006211,7.55460125 C7.8328752,7.62365004 8.03851091,7.68851606 8.27051017,7.74800425 C8.06553355,8.77138694 7.90537497,9.78593936 7.80908209,10.7219488 C7.61761679,10.6445345 7.46576272,10.5639997 7.36301078,10.482801 Z M7.33934949,10.9335435 C7.46286273,11.00153 7.60773046,11.0668608 7.77085494,11.1289383 C7.74541411,11.4294997 7.72728917,11.7204341 7.71707329,11.9992186 C7.58130099,11.8905331 7.44625369,11.7870263 7.31193139,11.6883662 C7.31858819,11.4345456 7.32781543,11.1829158 7.33934949,10.9335435 Z M14.1053576,7.5244588 C13.4276166,7.66985961 12.5916283,7.74070101 11.6619176,7.73286663 L11.6619176,4.98704866 C12.2790225,4.97423479 12.8933592,4.92636539 13.4516733,4.8420462 C13.6928339,5.70243393 13.9156718,6.6140771 14.1053576,7.5244588 Z M8.73945187,7.44790759 C8.92399674,6.57052325 9.13899152,5.69340447 9.37105669,4.86349116 C9.94828668,4.94522102 10.6023664,4.98811094 11.2664643,4.9904347 L11.2664643,7.72496585 C10.3424218,7.6957529 9.44045874,7.59025433 8.73945187,7.44790759 Z M15.3615809,7.05711802 C15.1357112,7.20431144 14.842153,7.32826729 14.4928359,7.42825525 C14.3050615,6.52922676 14.0843327,5.62906959 13.8436334,4.77492281 C14.2021118,4.70580763 14.5288881,4.61982861 14.807419,4.51652101 C15.0240615,5.29046496 15.2105177,6.14275273 15.3615809,7.05711802 Z M7.72181873,7.15504779 C7.86866372,6.24619313 8.05050633,5.39755697 8.26200793,4.62480809 C8.4732459,4.69219706 8.71460422,4.75049017 8.97817384,4.79948825 C8.7463064,5.62462125 8.53315707,6.49217943 8.35025992,7.359804 C8.096313,7.2956019 7.88257049,7.22642033 7.72181873,7.15504779 Z M13.34266,4.46081722 C12.8202662,4.53451353 12.2427726,4.57667312 11.6619176,4.5884247 L11.6619176,2.57206732 C12.0200665,2.56224115 12.3667472,2.53435606 12.6962257,2.48788092 C12.9171523,3.08296196 13.1355743,3.75100897 13.34266,4.46081722 Z M9.48026771,4.48066875 C9.68689205,3.77112607 9.90485273,3.10294627 10.1253838,2.50713491 C10.4371988,2.54272159 10.7728727,2.56595916 11.1138853,2.57339518 C11.1648987,2.57452387 11.2157804,2.57532058 11.2664643,2.57571894 L11.2664643,4.59174435 C10.6393413,4.58961977 10.0220387,4.55210769 9.48026771,4.48066875 Z M14.6983398,4.14186494 C14.4298929,4.24510616 14.1016008,4.33015567 13.7350815,4.39741185 C13.5283253,3.69251668 13.3087829,3.0250672 13.0842972,2.42288211 C13.3936735,2.36246442 13.6843317,2.28385503 13.9511308,2.1865228 C14.2249822,2.74973516 14.4757655,3.40662815 14.6983398,4.14186494 Z M8.36917577,4.24816024 C8.58265464,3.52706516 8.82295843,2.87900246 9.0854735,2.31818024 C9.27140246,2.36963487 9.49087904,2.41564526 9.73289645,2.45402045 C9.50999261,3.05454572 9.29216376,3.7191403 9.0869235,4.42031746 C8.81748799,4.37264724 8.57481148,4.31521723 8.36917577,4.24816024 Z M12.5499739,2.10539047 C12.2663021,2.14197305 11.9689212,2.16461309 11.6619176,2.17350976 L11.6619176,0.331234999 C11.9438099,0.720696716 12.2473203,1.33855058 12.5499739,2.10539047 Z M10.2722947,2.12198874 C10.6130437,1.256024 10.9552426,0.5782172 11.2664643,0.202100489 L11.2664643,2.17736055 C11.2186145,2.1769622 11.1706328,2.17623187 11.1224534,2.17516958 C10.8306089,2.16872946 10.5422575,2.14987383 10.2722947,2.12198874 Z M13.7675087,1.8293945 C13.5142868,1.91836121 13.2362831,1.99006572 12.9392318,2.0447736 C12.5887942,1.15756308 12.2302499,0.441447487 11.8922033,0 C12.5756125,0.163393332 13.2134786,0.811389643 13.7675087,1.8293945 Z M9.26461385,1.95547493 C9.73381918,1.0569112 10.2657698,0.426973798 10.8364089,0.137898395 C10.524528,0.588972876 10.1979495,1.26033955 9.87835736,2.07312344 C9.64721491,2.03932937 9.43861329,1.99916157 9.26461385,1.95547493 Z M10.7445978,25.8022703 C8.77728357,24.9199065 9.47908135,19.0892012 13.4336143,14.5080797 C17.3881472,9.92695823 21.1449535,10.3253166 22.7267667,10.3253166 C24.3085798,10.3253166 18.5745071,12.7154669 16.9926939,18.6908428 C15.4108807,24.6662186 12.711912,26.6846341 10.7445978,25.8022703 Z" id="path-corn"></path>
                        </defs>
                        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g id="Desktop-WF" transform="translate(-1015.000000, -2104.000000)">
                                <g id="corn-icon" transform="translate(1015.000000, 2104.000000)">
                                    <mask id="mask-corn" fill="white">
                                        <use xlink:href="#path-corn"></use>
                                    </mask>
                                    <g id="Clip-2"></g>
                                    <polygon id="Fill-1" fill="#209481" mask="url(#mask-corn)" points="0 26 23 26 23 0 0 0"></polygon>
                                </g>
                            </g>
                        </g>
                    </svg>
                  Predicted Corn Yield</a>
                </div>

                <div class="col-12 text-center mb-2 mb-md-7 mob-full">
                  <img src="/img/selected country.svg" class="img-fluid" alt="Chart">
                </div>

                <div class="col-lg-4 text-md-right d-md-none mb-3">
                  <a href="#" class="btn btn-link btn-link-primary pl-0">
                    <?xml version="1.0" encoding="UTF-8"?>
                    <svg width="23px" height="26px" viewBox="0 0 23 26" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <!-- Generator: Sketch 49.3 (51167) - http://www.bohemiancoding.com/sketch -->
                        <title>corn-icon</title>
                        <desc>Created with Sketch.</desc>
                        <defs>
                            <path d="M1.95923516e-10,10.4485109 L1.95923516e-10,10.3961969 C0.018620161,10.3426464 0.104027554,10.3165527 0.269303693,10.3165527 C1.85111687,10.3165527 5.60792315,9.91819435 9.56245608,14.4993158 C10.2387471,15.282754 10.8198657,16.1027747 11.3088437,16.9283061 C9.17115505,20.4756211 8.77906311,24.1589092 9.86623012,25.5313866 C8.44345508,24.6460351 7.00117101,22.4512795 6.00337644,18.6820789 C4.63378887,13.5083955 0.151383261,11.0224427 0,10.4485108 Z M14.646865,10.9833383 C13.8798174,11.2436655 12.8453775,11.367223 11.6619176,11.3463092 L11.6619176,8.1313578 C12.614301,8.13972333 13.4735551,8.0691475 14.1849096,7.91611149 C14.3950271,8.97826773 14.5569653,10.028606 14.646865,10.9833383 Z M14.6813353,11.3924523 C14.7092148,11.7687018 14.7245716,12.1270916 14.7258238,12.4620446 C14.2778412,12.866312 13.8241903,13.3286069 13.3679031,13.8571621 C12.7101325,14.6191553 12.1423934,15.4157393 11.6619176,16.218365 L11.6619176,11.7448003 C12.8358866,11.7655814 13.8740833,11.6504558 14.6813353,11.3924523 Z M8.19412178,10.8571251 C8.28843739,9.91275012 8.4510346,8.87993961 8.65943849,7.83770128 C9.39491571,7.99027254 10.3153992,8.09431047 11.2664643,8.12352342 L11.2664643,11.3341592 C10.0981635,11.2829702 8.96439889,11.0948786 8.19412178,10.8571251 Z M8.15767417,11.2597326 C8.97804203,11.5075115 10.1012612,11.6833868 11.2664643,11.7328496 L11.2664643,16.0804666 C10.8101771,15.3397192 10.2791493,14.6059431 9.67127165,13.9017782 C9.14386877,13.2907629 8.61995907,12.7683822 8.10428797,12.3217561 C8.10929705,11.9876662 8.12761972,11.6319321 8.15767417,11.2597326 Z M15.7284297,10.3525378 C15.556803,10.5372433 15.320981,10.6970514 15.0306524,10.8312318 C14.9379845,9.887056 14.7786168,8.85902579 14.5726516,7.8202399 C14.8998892,7.72788715 15.1873837,7.61468697 15.4282148,7.48017462 C15.5642507,8.38630717 15.6659481,9.34874103 15.7284297,10.3525378 Z M15.7565728,10.8604447 C15.7683705,11.1053023 15.7779273,11.3524173 15.7850455,11.6015905 C15.5639212,11.7619961 15.3406878,11.9355476 15.1157408,12.1233736 C15.1078317,11.8444563 15.0916181,11.5525924 15.067825,11.2504376 C15.3313287,11.1394948 15.5624053,11.0096299 15.7565728,10.8604447 Z M7.36301078,10.482801 C7.42305377,9.45948467 7.52382845,8.47819517 7.66006211,7.55460125 C7.8328752,7.62365004 8.03851091,7.68851606 8.27051017,7.74800425 C8.06553355,8.77138694 7.90537497,9.78593936 7.80908209,10.7219488 C7.61761679,10.6445345 7.46576272,10.5639997 7.36301078,10.482801 Z M7.33934949,10.9335435 C7.46286273,11.00153 7.60773046,11.0668608 7.77085494,11.1289383 C7.74541411,11.4294997 7.72728917,11.7204341 7.71707329,11.9992186 C7.58130099,11.8905331 7.44625369,11.7870263 7.31193139,11.6883662 C7.31858819,11.4345456 7.32781543,11.1829158 7.33934949,10.9335435 Z M14.1053576,7.5244588 C13.4276166,7.66985961 12.5916283,7.74070101 11.6619176,7.73286663 L11.6619176,4.98704866 C12.2790225,4.97423479 12.8933592,4.92636539 13.4516733,4.8420462 C13.6928339,5.70243393 13.9156718,6.6140771 14.1053576,7.5244588 Z M8.73945187,7.44790759 C8.92399674,6.57052325 9.13899152,5.69340447 9.37105669,4.86349116 C9.94828668,4.94522102 10.6023664,4.98811094 11.2664643,4.9904347 L11.2664643,7.72496585 C10.3424218,7.6957529 9.44045874,7.59025433 8.73945187,7.44790759 Z M15.3615809,7.05711802 C15.1357112,7.20431144 14.842153,7.32826729 14.4928359,7.42825525 C14.3050615,6.52922676 14.0843327,5.62906959 13.8436334,4.77492281 C14.2021118,4.70580763 14.5288881,4.61982861 14.807419,4.51652101 C15.0240615,5.29046496 15.2105177,6.14275273 15.3615809,7.05711802 Z M7.72181873,7.15504779 C7.86866372,6.24619313 8.05050633,5.39755697 8.26200793,4.62480809 C8.4732459,4.69219706 8.71460422,4.75049017 8.97817384,4.79948825 C8.7463064,5.62462125 8.53315707,6.49217943 8.35025992,7.359804 C8.096313,7.2956019 7.88257049,7.22642033 7.72181873,7.15504779 Z M13.34266,4.46081722 C12.8202662,4.53451353 12.2427726,4.57667312 11.6619176,4.5884247 L11.6619176,2.57206732 C12.0200665,2.56224115 12.3667472,2.53435606 12.6962257,2.48788092 C12.9171523,3.08296196 13.1355743,3.75100897 13.34266,4.46081722 Z M9.48026771,4.48066875 C9.68689205,3.77112607 9.90485273,3.10294627 10.1253838,2.50713491 C10.4371988,2.54272159 10.7728727,2.56595916 11.1138853,2.57339518 C11.1648987,2.57452387 11.2157804,2.57532058 11.2664643,2.57571894 L11.2664643,4.59174435 C10.6393413,4.58961977 10.0220387,4.55210769 9.48026771,4.48066875 Z M14.6983398,4.14186494 C14.4298929,4.24510616 14.1016008,4.33015567 13.7350815,4.39741185 C13.5283253,3.69251668 13.3087829,3.0250672 13.0842972,2.42288211 C13.3936735,2.36246442 13.6843317,2.28385503 13.9511308,2.1865228 C14.2249822,2.74973516 14.4757655,3.40662815 14.6983398,4.14186494 Z M8.36917577,4.24816024 C8.58265464,3.52706516 8.82295843,2.87900246 9.0854735,2.31818024 C9.27140246,2.36963487 9.49087904,2.41564526 9.73289645,2.45402045 C9.50999261,3.05454572 9.29216376,3.7191403 9.0869235,4.42031746 C8.81748799,4.37264724 8.57481148,4.31521723 8.36917577,4.24816024 Z M12.5499739,2.10539047 C12.2663021,2.14197305 11.9689212,2.16461309 11.6619176,2.17350976 L11.6619176,0.331234999 C11.9438099,0.720696716 12.2473203,1.33855058 12.5499739,2.10539047 Z M10.2722947,2.12198874 C10.6130437,1.256024 10.9552426,0.5782172 11.2664643,0.202100489 L11.2664643,2.17736055 C11.2186145,2.1769622 11.1706328,2.17623187 11.1224534,2.17516958 C10.8306089,2.16872946 10.5422575,2.14987383 10.2722947,2.12198874 Z M13.7675087,1.8293945 C13.5142868,1.91836121 13.2362831,1.99006572 12.9392318,2.0447736 C12.5887942,1.15756308 12.2302499,0.441447487 11.8922033,0 C12.5756125,0.163393332 13.2134786,0.811389643 13.7675087,1.8293945 Z M9.26461385,1.95547493 C9.73381918,1.0569112 10.2657698,0.426973798 10.8364089,0.137898395 C10.524528,0.588972876 10.1979495,1.26033955 9.87835736,2.07312344 C9.64721491,2.03932937 9.43861329,1.99916157 9.26461385,1.95547493 Z M10.7445978,25.8022703 C8.77728357,24.9199065 9.47908135,19.0892012 13.4336143,14.5080797 C17.3881472,9.92695823 21.1449535,10.3253166 22.7267667,10.3253166 C24.3085798,10.3253166 18.5745071,12.7154669 16.9926939,18.6908428 C15.4108807,24.6662186 12.711912,26.6846341 10.7445978,25.8022703 Z" id="path-corn-sec"></path>
                        </defs>
                        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g id="Desktop-WF" transform="translate(-1015.000000, -2104.000000)">
                                <g id="corn-icon" transform="translate(1015.000000, 2104.000000)">
                                    <mask id="mask-corn-sec" fill="white">
                                        <use xlink:href="#path-corn-sec"></use>
                                    </mask>
                                    <g id="Clip-2"></g>
                                    <polygon id="Fill-1" fill="#209481" mask="url(#mask-corn-sec)" points="0 26 23 26 23 0 0 0"></polygon>
                                </g>
                            </g>
                        </g>
                    </svg>
                  Predicted Corn Yield</a>
                </div>
              </div>


              <div class="row justify-content-between">
                <div class="col-lg-8 col-md-10 col-12 mb-15px mb-md-3">
                  <p class="mb-0">Y/N…Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit ameta</p>
                </div>

                <div class="col-lg-3 col-md-2 col-12">
                  <div class="text-ex text-tlight">
                    Disclaimer Blurb…Lorem ipsum dolor sit amet, consectetur adipisicing elit, eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="bg-white pt-7 pb-md-13">
            <div class="container">
              <h4 class="mb-2">What is optimal for corn?</h5>

              <p>Use the controls below to create the perfect plot of land for corn production.</p>

              <div class="row mt-4 mt-md-9">
                <div class="col-md-4 mb-4 mb-md-0">
                  <div class="section--range-sliders">
                    <div class="round-sliders">
                      <div class="round-slider-item round-dark-teal"><div id="round-temperature"></div></div>
                      <div class="round-slider-item round-yellow"><div id="round-vegetation"></div></div>
                    </div>
                  </div>
                </div>

                <div class="col-md-4 mb-4 mb-md-0">
                  <div class="section--range-sliders">
                    <% include ../partials/range-slider %>
                  </div>
                </div>

                <div class="col-md-4 mob-full">
                  <div class="jumbotron h-100 jumbotron-bg-corn pb-15 pb-md-0">
                    <h5 class="mb-2 text-uppercase">Corn Yield is <span class="text-danger">Average</span></h5>
                    <p>Blurb…Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

    <footer class="bg-primary py-2">
      <% include ../partials/footer %>
    </footer>
  </body>
</html>
